# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

    # Ignore eslint 10 until ecosystem supports it
    # https://github.com/typescript-eslint/typescript-eslint/issues/11952
    # https://github.com/import-js/eslint-plugin-import/issues/3227
    ignore:
      - dependency-name: "eslint"
        versions: [">=10.0.0"]
      - dependency-name: "@eslint/js"
        versions: [">=10.0.0"]

    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
