<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="mha.html"/>
			</files>
		</defaultDocument>
		<!--<directoryBrowse enabled="true" />-->
		<staticContent>
			<clientCache cacheControlMode="DisableCache"/>
		</staticContent>
		<httpRedirect enabled="true" httpResponseStatus="Permanent">
			<add wildcard="Pages\Default.html" destination="Pages\parentframe.html?default=classic"/>
			<add wildcard="Pages\DefaultPhone.html" destination="Pages\parentframe.html?default=classic"/>
			<add wildcard="Pages\DefaultTablet.html" destination="Pages\parentframe.html?default=classic"/>
			<add wildcard="Pages\DesktopPane.html" destination="Pages\parentframe.html?default=new"/>
			<add wildcard="Pages\MobilePane-ios.html" destination="Pages\parentframe.html?default=new-mobile"/>
		</httpRedirect>
	</system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
	</system.web>
</configuration>