<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="mha.html"/>
			</files>
		</defaultDocument>
		<!--<directoryBrowse enabled="true" />-->

		<rewrite>
			<rules>
			<rule name="Rewrite Root to MHA Page" stopProcessing="true">
				<match url="^$" />
				<action type="Rewrite" url="/pages/mha.html" />
			</rule>
			</rules>
		</rewrite>

		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<clientCache cacheControlMode="DisableCache"/>
		</staticContent>
		<httpRedirect enabled="true" httpResponseStatus="Permanent">
			<add wildcard="Pages\Default.html" destination="Pages\uitoggle.html?default=classic"/>
			<add wildcard="Pages\DefaultPhone.html" destination="Pages\uitoggle.html?default=classic"/>
			<add wildcard="Pages\DefaultTablet.html" destination="Pages\uitoggle.html?default=classic"/>
			<add wildcard="Pages\DesktopPane.html" destination="Pages\uitoggle.html?default=new"/>
			<add wildcard="Pages\MobilePane-ios.html" destination="Pages\uitoggle.html?default=new-mobile"/>
		</httpRedirect>
	</system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
	</system.web>
</configuration>
