.code-box > pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#orig-headers-ui {
    display: none;
}

.timeline-item-subtitle, .timeline-item-text {
    word-wrap: break-word;
}

.wrap-line {
    word-wrap: break-word;
}
