/* https://stackoverflow.com/questions/325273/make-iframe-to-fit-100-of-containers-remaining-height */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.header-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
}

.frame-row {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
}

    .frame-row iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }

.floatie {
    float: right;
}