body {
    padding: 0;
    background-color: canvas;
}

.aspNetHidden {
    padding: 0;
}

textarea {
    font-size: 1em;
    resize: none;
}

input {
    margin-bottom: 1px;
}

#SectionHeader {
    height: 40px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
}

#SectionContent {
    padding-bottom: 0;
}

#floater {
    float: left;
    height: 50%;
    margin-top: -15px;
    padding-bottom: 0;
}

#title {
    clear: both;
    height: 30px;
}

#response {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0;
}

table {
    color: #333333;
    border-collapse: collapse;
    margin-bottom: 0;
}

#response th {
    padding: 0;
}

td {
    border: 1px solid black;
    padding-left: 2px;
}

.allowBreak {
    word-break: break-all;
}

.summaryList {
    border-width: 0;
    margin-bottom: 20px;
    width: 100%;
    table-layout: fixed;
}

.summaryList td {
    border-width: 0;
    padding-bottom: 0;
}

.summaryHeader {
    text-align: right;
    font-weight: bold;
    width: 150px;
}

.responsePane {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0;
}

.oddRow {
    background-color: #CDE6F7; /* 2013 light background color */
}

.tableHeaderButton {
    background-color: #0072C6; /*2013 hero color*/
    color: #FFFFFF;
    border: 0;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    padding: 1em 1.2em 1em 1.2em;
}

.tableHeaderButton[aria-sort="descending"] .sortArrow::after {
    content: "\2193"; /* Down arrow */
}

.tableHeaderButton[aria-sort="ascending"] .sortArrow::after {
    content: "\2191"; /* Up arrow */
}

.tableHeader td + td,
.tableHeader th + th { border-left: 1px solid white; }
.tableHeader tr + tr { border-top: 1px solid black; }

#inputHeaders {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sectionHeader {
    background-color: #0072C6; /*2013 hero color*/
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    width: 100%;
    border: none;
}

.tableCaption {
    background-color: rgb(234, 236, 238);
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    width: 100%;
    border: none;
}

.sectionHeader:focus,
.sectionHeader:hover {
    outline: black solid 2px;
    outline-offset: -2px;
}

.tableCaption:focus, 
.tableCaption:hover {
    outline: #0072cc solid 2px;
    outline-offset: -2px;
}
@media screen and (-ms-high-contrast:active) {
    .sectionHeader:focus,
    .sectionHeader:hover,
    .tableCaption:focus
    .tableCaption:hover {
        background-color: buttonface;
    }
}

.collapsibleArrow {
    float: right;
    cursor: pointer;
    font-size: smaller;
}

.collapsibleSwitch {
    float: left;
    font-size: xx-large;
    line-height: 8px;
    display: block;
    width: 38px;
    text-align: center;
    padding-left: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

button[aria-expanded="true"] .collapsibleSwitch::after {
    content: "\2013"; /* Minus (ndash) */
}

button[aria-expanded="false"] .collapsibleSwitch::after {
    content: "+"; /* Plus */
}

.collapsibleWrapper {
    padding-bottom: 0;
    margin-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: break-word;
}

.hiddenElement {
    display: none;
    border:0;
}

.emptyColumn {
    display: none;
}

.hotBarCell {
    padding: 0;
}

.hotBarContainer {
    padding-bottom: 1px;
}

.hotBarBar {
    height: 8px;
    background-color: #E44D4D; /* A nice red */
    padding-bottom: 0;
    border-radius: 3px;
}

@media screen and (-ms-high-contrast:active) {
    .hotBarBar {
        background-color: highlight;
    }
}

.hotBarLabel {
    padding: 0.4em 1.2em 2px 0;
    white-space: nowrap;
}

.negativeCell {
    color: #E44D4D; /* A nice red */
}

@media screen and (-ms-high-contrast:active) {
    .negativeCell {
        color: highlight;
    }
}

#hop {
    min-width: 3em;
}

#number {
    min-width: 2em;
}

#originalHeadersContainer {
    margin-left: 1em;
}

#originalHeaders {
    white-space: pre-wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mhaFooter {
    float: right;
}

.commandBar {
    height: 44px;
    background-color: #f4f4f4;
    padding: 0;
}

@media screen and (-ms-high-contrast:active) {
    .tableHeaderButton .sortArrow::after { color: buttontext; }
    button .collapsibleSwitch::after { color: buttontext; }
}

/* bug fix 1691247 */
.ms-Button.ms-Button--primary {
    color: #FFFFFF;
    background-color: #0677D3;
}

#SectionContent .primary-button,
#SectionContent button.primary-button {
    background-color: var(--primary-blue) !important;
    color: var(--white) !important;
    border: 2px solid var(--primary-blue) !important;
    border-radius: 0 !important;
    padding: 8px 16px !important;
    font-family: var(--font-family) !important;
    font-size: 14px !important;
    cursor: pointer !important;
    min-height: 32px !important;
}

#SectionContent .secondary-button,
#SectionContent button.secondary-button {
    background-color: var(--background-light-gray) !important;
    color: var(--black) !important;
    border: 2px solid var(--black) !important;
    border-radius: 0 !important;
    padding: 8px 16px !important;
    font-family: var(--font-family) !important;
    font-size: 14px !important;
    cursor: pointer !important;
    min-height: 32px !important;
}

#SectionContent button.hiddenElement {
    display: none;
    border: 0;
}

#SectionContent .icon-copy {
    font-family: "FabricMDL2Icons", "Segoe MDL2 Assets", "Segoe UI Symbol", "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
}

#SectionContent .primary-button:focus,
#SectionContent button.primary-button:focus {
    border: 2px solid var(--black) !important;
    outline: none !important;
}

#SectionContent .primary-button:hover,
#SectionContent button.primary-button:hover {
    background-color: var(--focus-blue) !important;
}

#SectionContent .secondary-button:focus,
#SectionContent button.secondary-button:focus {
    border: 2px solid var(--primary-blue) !important;
    outline: none !important;
}

#SectionContent .secondary-button:hover,
#SectionContent button.secondary-button:hover {
    background-color: var(--background-gray) !important;
}