.code-box > pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#orig-headers-ui {
    display: none;
}

.timeline-item-subtitle, .timeline-item-text {
    word-wrap: break-word;
}

.wrap-line {
    word-wrap: break-word;
}

.tabs .tab {
    padding-top: 25px;
    background: #efeff4;
}

/* used to show heading when 'error' passed to creation of rule */
.errorText {
    color: red;
}

/* used to show heading when 'info' passed to creation of rule */
.infoText {
    color: red;
}

/* used to show heading when 'ok' passed to creation of rule */
.okText {
    color: green
}

.differenciateErrorMessage {
    color: blue
}

/* how to highlight text in the value field on the summary tab that caused the rule to trigger */
.summaryHighlight {
    font-weight: bold;
}

/* how to highlight text in the value field on the other tab that caused the rule to trigger */
.otherHighlight {
    background-color: yellow;
}
