/* Framework7 specific overrides */
.code-box>pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#orig-headers-ui {
    display: none;
}

.timeline-item-subtitle,
.timeline-item-text {
    word-wrap: break-word;
}

.wrap-line {
    word-wrap: break-word;
}

.tabs .tab {
    padding-top: 25px;
    background: #f4f4f4;
}

.page {
    background: #f4f4f4;
}

.content-block-title {
    text-transform: none;
    white-space: normal;
}

.content-block {
    word-wrap: break-word;
}

a,
a:visited {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #444;
}

a:focus,
div:focus {
    outline: #0072cc solid 2px;
    outline-offset: 2px;
}

a.item-content,
a.tab-link {
    outline-offset: -4px;
    text-decoration: none;
}

.content-block-title {
    overflow: visible;
}
/* See MutationObserver in renderItem to see how we set the height back to auto after this */
.accordion-item:not(.accordion-item-expanded) .accordion-item-content {
        display: none;
}

@media screen and (-ms-high-contrast:active) {
    .progressbar span {
        background: highlight;
    }
}

.list-block .item-link .item-inner, .list-block .list-button .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2060%20120%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
}

.list-block .accordion-item-expanded.media-item .accordion-item-toggle .item-title-row,.list-block .accordion-item-expanded.media-item>.item-link .item-title-row,.list-block.media-list .accordion-item-expanded .accordion-item-toggle .item-title-row,.list-block.media-list .accordion-item-expanded>.item-link .item-title-row,.list-block:not(.media-list) .accordion-item-expanded:not(.media-item) .accordion-item-toggle .item-inner,.list-block:not(.media-list) .accordion-item-expanded:not(.media-item)>.item-link .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20transform%3D'translate(115%2C%2030)%20rotate(90)'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}