.code-box>pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#orig-headers-ui {
    display: none;
}

.timeline-item-subtitle,
.timeline-item-text {
    word-wrap: break-word;
}

.wrap-line {
    word-wrap: break-word;
}

.tabs .tab {
    padding-top: 25px;
    background: #f4f4f4;
}

.page {
    background: #f4f4f4;
}

.content-block-title {
    text-transform: none;
    white-space: normal;
}

.content-block {
    word-wrap: break-word;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #444;
}

a:focus {
    outline: #0072cc solid 2px;
    outline-offset: 2px;
}

a.item-content {
    text-decoration: none;
}

a.item-content:focus {
    outline: #0072cc solid 2px;
    outline-offset: -4px;
    text-decoration: none;
}