.code-box > pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#orig-headers-ui {
    display: none;
}

.timeline-item-subtitle, .timeline-item-text {
    word-wrap: break-word;
}

.wrap-line {
    word-wrap: break-word;
}

.tabs .tab {
    padding-top: 25px;
    background: #f4f4f4;
}

.page {
    background: #f4f4f4;
}

.content-block-title{
    text-transform:none;
    white-space:normal;
}

.content-block {
    word-wrap: break-word;
}