/* https://stackoverflow.com/questions/325273/make-iframe-to-fit-100-of-containers-remaining-height */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.header-row {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.frame-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .frame-row iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }

.code-box > pre {
    background-color: #eaeaea;
    border: 1px solid #ccc;
    padding: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: .8em;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dialog-Diagnostics {
    width: calc(100% - 24px);
    box-sizing: border-box;
    max-width: none;
}

.ms-RadioButton-field:focus {
    outline: #0072cc solid 1px;
    outline-offset: 2px;
}

.ms-RadioButton-field:hover:not(:focus) {
    outline: #333 solid 1px;
    outline-offset: 2px;
}

.ms-CheckBox-field:focus .ms-Label {
    outline: #0072cc solid 1px;
    outline-offset: 2px;
}

.ms-CheckBox-field:hover:not(:focus) .ms-Label {
    outline: #333 solid 1px;
    outline-offset: 2px;
}

a:focus {
    outline: #0072cc solid 1px;
    outline-offset: 2px;
}

a:hover:not(:focus) {
    outline: #333 solid 1px;
    outline-offset: 2px;
}
